*.sh

*.bat

LICENSE.txt

bin/

conf/

docs/

eclipse/

jars/

logs/

runtime/

temp/

src/minecraft/*
!src/minecraft/net
src/minecraft/net/*
!src/minecraft/net/minecraft
src/minecraft/net/minecraft/*
!src/minecraft/net/minecraft/src
src/minecraft/net/minecraft/src/*
!src/minecraft/net/minecraft/src/BWR*
!src/minecraft/net/minecraft/src/BlockCarrot.java

src/minecraft_server/*
!src/minecraft_server/net
src/minecraft_server/net/*
!src/minecraft_server/net/minecraft
src/minecraft_server/net/minecraft/*
!src/minecraft_server/net/minecraft/src
src/minecraft_server/net/minecraft/src/*
!src/minecraft_server/net/minecraft/src/BWR*
!src/minecraft/net/minecraft/src/BlockCarrot.java

modsrc/

reobf/
